<nav class="navbar navbar-default" style="width:100%; background: #000000;border-radius:0px;">
  <ul style="list-style: none; padding:0;margin:0;">
    <li class="col-sm-6 col-sm-offset-3" style="padding: 0; font-size:45px;text-decoration: none; color: #30a2e4;">Whispe.rs</li>
  </ul>
</nav>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <span class="typer" style="font-size:40px;"></span>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <form action="/whispers" method="POST" style="margin: 25px 0 40px 0;">
        <%= form_tag(controller: "whispers", action: "send_text", method: "post") do %>
          <%= text_field_tag(:recipient, nil, class: "form-control", placeholder: "Target's Phone Number") %>
          <br>
          <%= text_area_tag(:message, nil, class: "form-control", :maxlength => 160, placeholder: "Your Message", :rows => 3) %>
          <h3 style="margin: 40px 0 10px 0;">1 USD = 1 TXT</h3>
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_TXtxWtQ5QadZISCjM6fShR3X"
            data-amount="100"
            data-name="Stripe.com"
            data-description="One Anonymous Text Message"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="false">
          </script>
        <% end %>
      </form>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="text-center"><h2 style="font-size: 50px; color: #30a2e4;">FAQ</h2></div>
    <p style="margin: 30px 0 0 0;"><strong>Can I use this to secretly tell my loved ones to go fuck themselves?</strong></p>
    <p>Duh. Thats like the main point, homie.</p>
    <p><strong>Is this legal?</strong></p>
    <p>Aw geez, Rick. I really hope so. No death threats please. Save that shit for creepy letters written in blood.</p>
    <p><strong>This FAQ is garbage.</strong></p>
    <p>That isn't even a question!</p>
    <p><strong>I don't trust you with my payment information.</strong></p>
    <p>Still not a question but that's why the entire payment process is handled by Stripe. They're kinda like pros.</p>
    <p><strong>Can anyone find out what I send?</strong></p>
    <p>Nope. Chill, bro. The message data is sent and not saved.</p>
    <p><strong>Anything else I should know?</strong></p>
    <p>Ummm don't write anything longer than a tweet(160 characters). This tool is intended for use exclusively in dastardly schemes, vicious confessions, and brutal insults.</p>
    </div>
  </div>
</div>

<div id="footer" style="margin: 30px 0 0 0;">
  <div class="container text-center" style="background: #000000; width: 100%;">
    <p class="text-muted">Whispe.rs 2016</a></p>
  </div>
</div>

<script>
  $(function(){
    $(".typer").typed({
      strings: ["Text Anything.", "Text To Anyone.", "Text Anonymously."],
      typeSpeed: 60,
      backSpeed: 100,
      backDelay: 1500,
      startDelay: 2000,
      loop: true,
      cursorChar: "|",
    });
  });
</script>
