<nav class="navbar navbar-default">
  <a class="navbar-brand" href="#">Whispers</a>
</nav>

<div class="text-center"><h1>Text Anything To Anyone,<br>Anonymously.</h1></div><br>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-center"
    <form action="/whispers" method="POST">
        <%= form_tag(controller: "whispers", action: "send_text", method: "post") do %>
          <%= text_field_tag(:recipient, nil, class: "form-control", placeholder: "Target's Phone Number") %>
          <br>
          <%= text_area_tag(:message, nil, class: "form-control", :maxlength => 160, placeholder: "Your Message", :rows => 3) %>
          <h3>1 USD = 1 TXT</h3>
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_TXtxWtQ5QadZISCjM6fShR3X"
            data-amount="100"
            data-name="Stripe.com"
            data-description="One Anonymous Text Message"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="false">
          </script>
        <% end %>
      </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="text-center"><h2>FAQ</h2></div>
    <p><strong>Can I use this to secretly tell my loved ones to go fuck themselves?</strong></p>
    <p>Duh. Thats like the main point, homie.</p>
    <p><strong>Is this legal?</strong></p>
    <p>Aw geez, Rick. I really hope so. No death threats please. Save that shit for creepy letters written in blood.</p>
    <p><strong>This FAQ is garbage.</strong></p>
    <p>That isn't even a question!</p>
    <p><strong>I don't trust you with my payment information.</strong></p>
    <p>Still not a question but that's why the entire payment process is handled by Stripe. They know what they're doing.</p>
    <p><strong>Can anyone find out what I send?</strong></p>
    <p>Chill, bro. No data from the messages are saved.</p>
    <p><strong>Anything else I should know?</strong></p>
    <p>Ummm don't write anything longer than a tweet(160 characters). This tool is intended for use in dastardly schemes, vicious confessions, and brutal insults.</p>
    </div>
  </div>
</div>
