<!DOCTYPE html>
<html>
  <head>
    <title>Whispers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if Rails.env.production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88934650-1', 'auto');
        //ga('send', 'pageview');
      </script>
    <% else %>
      <script>
        function ga () {
          var params = Array.prototype.slice.call(arguments, ga.length);
          console.log("GoogleAnalytics: " + params);
        };
      </script>
    <% end %>
  </head>

  <body>
    <div id="site_wrapper">

      <%= yield %>

    </div>
  </body>
</html>
